{% extends "base.html" %}
{% block typearea %}
                    <a href="/script">Script</a>
                    <b>Program</b>
                    <a href="/conf">Configure</a>
                    <a href="/machine">Machine</a>
                    <a href="/path">Path</a>
{% endblock %}
{% block searcharea %}
                <form id="searchform" action="/search/" method="post">
                    <input id="searchname" type="text" name="searchname" value=""/>
                    <input id="searchsubmit" type="submit" value=""/>
                    <input type="hidden" value="P" name="filetype"/>
                </form>
{% endblock %}
