<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin

   id="Myplugin2"
   name="Myplugin2 插件"
   version="1.0.0"
   provider-name="lizzie"
   class="myplugin2.Activator">

   <runtime>
      <library name="myplugin2.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
          label="样本操作集"
          visible="true"
          id="myplugin2.actionSet">
        <menu
            label="样本菜单(&amp;M)"
            id="sampleMenu">
        <separator
            name="sampleGroup">
        </separator>
        </menu>
        <action
            label="样本操作(&amp;S)"
            icon="icons/sample.gif"
            class="myplugin2.actions.SampleAction"
            tooltip="Hello，这是手工做的插件"
            menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup"
            id="myplugin2.actions.SampleAction">
        </action>
      </actionSet>
   </extension>
   
</plugin>
