FISHGOL ICON  "G:\delphi\系统托盘\maida\FISHGOL.ico" 
SWORD ICON  "G:\delphi\系统托盘\maida\SWORD.ico" 
KISSME ICON  "G:\delphi\系统托盘\maida\KISSME.ico" 
QIER JPEG "G:\delphi\系统托盘\maida\QIER.jpg" 
LINUX JPEG "G:\delphi\系统托盘\maida\LINUX.jpg" 
